* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #c1d5e6;
}

.a, .b, .c {
  animation: scale-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.a {
  animation-delay: 1s;
}

.b {
  animation-delay: 3s;
}

.c {
  animation-delay: 5s;
}

.sweet {
  background-color: #6A1709;
  border: none;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
